<a href="https://colab.research.google.com/github/a-emreusta/success-of-ai-writers/blob/main/data_loader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from google.colab import drive

drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
import pandas as pd

In [19]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [21]:
df_train = pd.read_csv("/content/drive/MyDrive/Success of AI Writers/DATA/snli_1.0_train.csv")

In [23]:
df_train.tail()

,similarity,sentence1,sentence2
550147,contradiction,Four dirty and barefooted children.,four kids won awards for 'cleanest feet'
550148,neutral,Four dirty and barefooted children.,"four homeless children had their shoes stolen,..."
550149,neutral,A man is surfing in a bodysuit in beautiful bl...,A man in a bodysuit is competing in a surfing ...
550150,contradiction,A man is surfing in a bodysuit in beautiful bl...,A man in a business suit is heading to a board...
550151,entailment,A man is surfing in a bodysuit in beautiful bl...,On the beautiful blue water there is a man in ...

In [ ]:
print(f"Number of unique naming's in similarity column : {df_train.similarity.nunique()}")
print(f"Number of unique naming's in similarity column : {df_train.sentence1.nunique()}")
print(f"Number of unique naming's in similarity column : {df_train.sentence2.nunique()}")

Number of unique naming's in similarity column : 4
Number of unique naming's in similarity column : 150773
Number of unique naming's in similarity column : 480122

In [ ]:
print(f"Number of unique naming's in similarity column :")
df_train.similarity.value_counts()

Number of unique naming's in similarity column :

entailment       183416
contradiction    183187
neutral          182764
-                   785
Name: similarity, dtype: int64

In [ ]:
df_train.describe()
df_train.info()

        similarity          sentence1           sentence2
count       550152             550152              550146
unique           4             150773              480122
top     entailment  A dog in a field.  A man is sleeping.
freq        183416                 33                 335

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550152 entries, 0 to 550151
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   similarity  550152 non-null  object
 1   sentence1   550152 non-null  object
 2   sentence2   550146 non-null  object
dtypes: object(3)
memory usage: 12.6+ MB

In [ ]:
df_test = pd.read_csv("/content/drive/MyDrive/Success of AI Writers/DATA/snli_1.0_test.csv")

In [ ]:
df_test.head()

,similarity,sentence1,sentence2
0,neutral,This church choir sings to the masses as they ...,The church has cracks in the ceiling.
1,entailment,This church choir sings to the masses as they ...,The church is filled with song.
2,contradiction,This church choir sings to the masses as they ...,A choir singing at a baseball game.
3,neutral,"A woman with a green headscarf, blue shirt and...",The woman is young.
4,entailment,"A woman with a green headscarf, blue shirt and...",The woman is very happy.

In [ ]:
df_test.describe()

,similarity,sentence1,sentence2
count,10000,10000,10000
unique,4,3323,9810
top,entailment,A man wearing a jacket is listening to headpho...,There are multiple people present.
freq,3368,6,7